
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #363636;
}

::-webkit-scrollbar {
    width: 8px;  
    background: #dcdbdb;
  }
  ::-webkit-scrollbar-thumb {
    background: #fbce05;
    border-radius: 5px;
  }
  
#box1{
    background-color: black;
}

.live-user{
 overflow-y: scroll;
 height: 80vh;
}
.live-user div img{
    width: 100%;
}
 .bx,
 button{
    cursor: pointer !important;
   transition: all .5s ease-out;
}
.tab-content i:hover,
.card i:hover,
button:hover{
  background-color: #fff !important;
  color:#000 !important;
}
.nav-item button:hover{
    background-color: #000 !important;
    color: #fff !important;
}
.live-user .position-relative {
    width: 15rem;
    object-fit: cover;
    height: 10rem;
}
.live-user .position-relative video{
    width: 100%;
    object-fit: cover;
}
@media (max-width:1100px)  {
   #box1{
       width: 100%;
       height: 50vh;
   }
   .col-lg-4{
       width: 100%;
   }
   .live-user{
    width: 100% !important;
    height: 40vh !important;
   }
   .live-user div .pt-2{
    text-align: end;
}
   .live-user .position-relative{
   width: 20rem;
   }
 }

 @media (max-width:950px)  {
    .live-user .position-relative{
        width: 13rem;
        padding: 1rem 1rem !important;
        }
        .live-user {
            padding:.5rem 1rem;
        }
      
        .live-user div .pt-2 i{
            margin: 0rem .2rem !important; 
        }
        .card-body .col-lg-3{
            width: 30%;
        }
 }

@media (max-width:600px)  {
    i,button{
        font-size: .9rem !important;
    }
    #box1{
        width: 100%;
        height: 60vh;
    }
    .card-header {
        padding: 0.2rem;
       
    }
    .card-body .col-lg-3 {
        width: 40%;
    }
    .live-user {
        padding:0rem .5rem;
        height: 100vh !important;
    }
   
 }
 @media (max-width:500px)  {
    .card-body .col-lg-3 i{
        padding: 0.2rem !important;
        margin: 0.1rem !important;
        font-size: .7rem !important;
    }
    .card-body .col-lg-3 p{
        font-size: .7rem;
    }
}